.dpd {
    margin-top: 20%;
    text-align: center;
    margin-left: 1%;
}

#dropdownMenuButton2 {
    background-color: #3A4750;
    color: #f9f9f9;
}

@media screen and (min-width: 930px) {
    .dpd {
        display: none;
    }

    #dropdownMenuButton2 {
        display: none;
    }
}