.loginform{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: #f9f9f9;
    border-radius: 5%;
    font-size: large;
    height: 40%;
    justify-content: space-around;
}
.loghead{
    padding-top: 5rem;
    color: #f9f9f9;
}
.loginpage
{
    background-color: #3A4750;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email
{
    margin-left: 1rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #3A4750;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    color: #3A4750;
    width: 60%;
}
#password{
    margin-left: 1.5rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #3A4750;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    color: #3A4750;
    width: 60%;
}
.login{
    width: 8rem;
    height: 2rem;
    background-color: #3A4750;
    border-radius: 1rem;
    color: #f9f9f9;
}
.login:hover{
    color: rgb(219, 214, 214);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.signup
{
    color:#455D7A;
}
.signup:hover{
    color:#273952;
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}  
#name
{
    margin-left: 1rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #3A4750;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    color: #3A4750;
    width: 60%;
}
#cpassword{
    margin-left: 1rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #3A4750;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    color: #3A4750;
    width: 50%;
}
.signinform{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #f9f9f9;
    border-radius: 5%;
    font-size: large;
    height: 50%;
    justify-content: space-around;
}
@media screen and (max-width: 930px){
    #email{
        width: 90%;
        margin-left: 0;
    }
    #name{
        width: 90%;
        margin-left: 0;
    }
    #password{
        width: 90%;
        margin-left: 0;
    }
    #cpassword{
        width: 90%;
        margin-left: 0;
    }
    .signinform{
        width: 70%;
    }
    .loginform{
        width: 70%;
    }
}