nav{
    background-color: #3A4750;
    height: 10vh;
    color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    width:100vw;
}
.logo{
    display: flex;
    padding-left: 3rem;
}
.icon{
    width: 13%;
    height: 60%;
    align-self: center;
    margin-right: 4%;
}
.nav-head{
    font-size: 7vh;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
}
#button{
    display: flex;
    width: 25%;
    align-items: flex-end;
    font-size: x-large;
}
@media screen and (max-width: 930px){
    #button{
        display: none;
    }
    .nav-head{
        font-size: 5vh;
    }
}
.navform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#Login:hover{
    color: rgb(219, 214, 214);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#Signup:hover{
    color: rgb(219, 214, 214);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#Home:hover{
    color: rgb(219, 214, 214);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.active{
    font-weight: 600;
    color: rgb(219, 214, 214);
}
.Logout:hover{
    color: rgb(219, 214, 214);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

