
h2{
    font-size: xx-large;
    text-align: center;
}
h1{
    text-align: center;
    margin-right: 8rem;
}
.reg{
    margin-top: 3rem;
    text-align: center;
    width: 25rem;
    margin-left: 36rem;
}